@media (max-width: 740px) {
    body {
        background: var(--primary-color) url(../images/bg-intro-mobile.png) no-repeat center center;
        background-size: contain;
    }

    main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        color: #f4f4f2;
        flex-direction: column;
    }

    .container-descrition {
        width: 320px;
        text-align: center;
    }

    .title {
        font-size: 2.8rem;
    }

    .container {
        width: 320px;
    }
}