* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    max-width: 1440px;
    height: auto;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: black;
    display: inline-block;
}

input {
    width: 100%;
}

small {
    /* visibility: hidden; */
    text-align: right;
    width: 100%;
    display: inline-block;
    color: blue;
    background-color: brown;
}