* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    background: var(--primary-color) url(../images/bg-intro-desktop.png) no-repeat center center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
}

input {
    width: 100%;
}

small {
    /* visibility: hidden; */
    display: none;
    text-align: right;
    /* position: absolute; */
    bottom: 10px;
    left: 0;
    width: 100%;
    /* display: inline-block; */
    color: var(--primary-color);
    font-size: 1rem;
}

.form-control.error input {
    border: 1px solid var(--primary-color);
}

.form-control.error i .error {
    visibility: visible;
}

.form-control.error small {
    /* visibility: visible; */
    display: block;
}